
:root{
    --ad-width: 300px;
    --ad-height: 600px;
}

body{
    position: absolute !important;
    padding: 0 !important;
    width: var(--ad-width, 300px) !important;
    height: var(--ad-height, 600px) !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    z-index: 9999 !important;
}

.wrapper, .fw{
    position: absolute;
    width: var(--ad-width, 300px);
    height: var(--ad-height, 600px);
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
}

.bg, .fw{
    position: absolute;
    width: var(--ad-width, 300px);
    height: var(--ad-height, 600px);
    top: 0;
    left: 0;
    pointer-events: none;

    background-size: contain;
}

.bg {
    opacity: 0;
}

.hidden {
    opacity: 0;
}